<%- include('./partials/header')  %>

<div class="main_container">
    <% for (const pokemon of allPokemon) { %>

    <a href="/pokemon/<%= pokemon.numero %>">

        <div class="pokemon_home">
            <img class="pokemon_home_img" src="/img/<%= pokemon.numero %>.png" alt="<%= pokemon.nom %>">
            <p class="pokemon_home_title">#<%= pokemon.numero %> <%= pokemon.nom %></p>
        </div>

    </a>

    <% } %>

</div>
<%- include('./partials/footer') %>